body{
    background-color: rgb(196, 196, 196);
    color: rgb(240, 233, 233);
    font-family: 'Numans', sans-serif;
    margin: 0;
}

button{
    border: none;
    margin: 0 0.5rem;
    border-radius: 2px;
    height: 2em;
    transition: 0.2s; 
}

button:hover{
    background-color: rgb(27, 28, 31);
    color: rgb(196, 196, 196);
}

h1{
    margin: 0;
    padding: 0 2.5vw;
}

h2{
    margin: 0;
}

.content{
    padding: 0;
    margin: 0;
}

.modal{
    display: none;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 0px;
}

.statusDiv{
    color: red;
}

.task-container{
    background-color: rgb(27, 28, 31);
    width: 50%;
    border-radius: 15px;
    padding: 1em;
    margin: 1em;
}

.buttonsDiv{
    padding-left: 0;
}

.taskBtn{
    margin: 0;
}

#formDiv{
    display: flex;
    flex-direction: column;
}

#taskDiv{
    background-color: rgb(196, 196, 196);
}

#formDiv{
    padding: 2rem 2rem;
    border-radius: 15px;
    background-color: rgb(27, 28, 31);
    color: white;
    font-weight: 600;
    line-height: 3rem;
    position: relative;
    width: 30%;
    margin: 5em auto;
}

#titleDiv{
    background-color: rgb(27, 28, 31);
    margin:0;
}

#pjDiv{
    padding: 1vw;
    padding-left: 2.5vw;
    color: rgb(27, 28, 31);
}

#tasksBtnDiv{
    background-color: rgb(196, 196, 196);
}
