* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --column-width: 60vw;
    --mobile-column-width: 80vw;
    --dark: #000;
    --contrast: #0070f3;
    --soft: #eaeaea;
    --clear: #fff;
}

body {
    background-color: var(--clear);
    color: var(--dark);
}

.App {
    padding: 0 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    margin: 5px 5px 0 0;
    border: 1px solid var(--soft);
    color: var(--dark);
    padding: 1vh 1vw;
    border-radius: 5px;
    transition: 0.3s;
    background-color: var(--clear);
}

.todo,
.info,
.options,
.input,
.edit,
#filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#filters {
    justify-content: center;
}

.todo {
    margin: 15px 0;
    padding: 10px;
    justify-content: space-between;
    width: var(--column-width);
    border: solid 1px var(--soft);
    box-shadow: 1em 1em 1em var(--soft);
    border-radius: 15px;
}

.info {
    width: 70%;
    justify-content: space-between;
}

.options {
    width: 30%;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

.edit {
    width: var(--column-width);
    justify-content: space-between;
}

input {
    border: solid 1px var(--soft);
}

.input {
    width: var(--column-width);
    justify-content: space-around;
    box-shadow: 1em 1em 1em var(--soft);
}

label,
.input button {
    margin: 5px;
}

.todo__button {
    background-color: var(--clear);
    border: 1px solid var(--contrast);
    border: 1px solid var(--clear);
}

button:hover,
.todo__button:hover > #edit-logo,
.todo__button:hover > #delete-icon {
    border-color: var(--contrast);
    color: var(--contrast);
}

#edit-logo,
#delete-icon{
    color: var(--contrast);
    background-color: var(--clear);
    border-radius: 5px;
    transition: 0.3s;
}


@media screen and (max-width: 600px) {
    form {
        flex-direction: column;
    }
}