* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    padding: 0 5vw;
}

.todo {
    border: 1px solid black;
    margin: 15px 0;
    padding: 10px;
}

.todo__basic-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

button {
    margin: 5px 5px 0 0;
}