* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    padding: 0 5vw;
}

button {
    margin: 5px 5px 0 0;
}

.todo,
.info,
.options {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.todo {
    border: 1px solid black;
    margin: 15px 0;
    padding: 10px;
    width: 80vw;
    justify-content: space-between;
}

.info {
    width: 35vw;
    justify-content: space-between;
}

.options {
    width: 35vw;
    justify-content: flex-end;
}

.edit,
.details {
    width: 80vw;
}

.description {
    word-break: break-all;
}
